@charset "utf-8";

html {
  font-size: 62.5%;
}

img {
  width: auto;
  max-width: 100%; //囲っているサイズの100%以上にならない
  height: auto; //高さはその横幅に合わせる
}

$ja_font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$fontcolor: #000000;
$linkcolor: #524c3e;
$linkcolor-hover: #b9ab8d;
$bgcolor: #f9f8f6;
$sidecolor: #887f69;
$small: "only screen and  (max-width:959px)";
$large: "only screen and (min-width:960px)";

body {
  background-color: $bgcolor;
}

#owl-carousel {
  position: relative; //spメニューに重なるものをposition relative
  z-index: 1; //１番した、メニューが上
}

.sp_img {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  @media #{$large} {
    display: none;
  }
}

.pc_img {
  @media #{$small} {
    display: none;
  }
}

.headerin {
  max-width: 940px;
  margin: 0 auto;

  @media #{$small} {
    text-align: center;
  }

  &__logo {

    @media #{$large} {
      padding: 40px 0;
    }

    @media #{$small} {
      padding: 40px 0 20px 0;
    }

  }

  &__menu {

    &--pc {
      @media #{$small} {
        display: none;
      }
    }
    &--sp {
      @media #{$large} {
        display: none;
      }
    }

  }

  &__sns {
    // ここの共通のスタイル

    &--pc {

      @media #{$small} { /*sns--pcはスマホ時非表示*/
        display: none;
      }

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
      }

    }

    &--sp {

      @media #{$large} { /*sns--pcはスマホ時非表示*/
        display: none;
      }

      li {
        list-style: none;
        display: inline;
      }

    }

  }

  &__nav {

    &--sp {
      display: none;
      position: absolute; //子要素を絶対位置
      z-index: 2; //親要素より上の2
      width: 100%; //spメニューは画面100%

      li {
        font-size: 0.9em;
        padding: 10px 0;
        list-style: none;
        border-bottom: solid 2px $bgcolor;
        background-color: #ffffff;
        color: $fontcolor;
        margin: 0;
        font-weight: bold;
      }

      li a {
        display: block;
        text-decoration: none;
        color: $fontcolor;
      }

      li a:hover {
        color: $linkcolor-hover;
        background-color: #ffffff;
      }

      @media #{$large} { /*pc時非表示*/
        display: none;
      }

    }

    &--pc {

      @media #{$small} { /*はスマホ時非表示*/
        display: none;
      }

      ul {
        margin-top: 40px;
      }

      li {
        list-style: none;
      }
      a {
        color: $linkcolor;
        font-size: medium;
        text-decoration: none;
        font-weight: bold;
        float: left;
        padding-right: 25px;
      }
      a:hover {
        color: $linkcolor-hover;
      }
    }

  }

}

footer {

  img {
    float: right;
    clear: both;
    margin-bottom: 20px;

    @media #{$small} { /*はスマホ時*/
      margin: 20px 0;
      padding-right: 42%;
    }

  }

}

.footerin {
  clear: both;
  max-width: 940px;
  background-color: $bgcolor;
  margin: 0 auto;
  text-align: center;
  border-top: solid 1px #000000;

  &__menu {

    ul {
      padding: 30px 0;
      margin: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 0 10px;
    }
    a {
      color: $fontcolor;
      font-size: small;
      text-decoration: none;
    }

  }

  &__copyright {
    font-size: small;
    color: #b8b4ac;
  }

}

.sidemenu {
  width: 100%;
  font-size: 0.9em;

  &__pc {
    @media #{$small} {
      display: none;
    }
  }

  //共通！

  &__title {
    width: 90%;
    padding: 5%;
    background-color: $sidecolor;
    color: #ffffff;
    border-bottom: 1px solid $bgcolor;

    &__title:first-child {
      margin-bottom: 20px;
    }
    &__sp {
      @media #{$small} {
        display: none;
      }

    }

  }

  ul {
    background-color: #ffffff;
    width: 98%;
    padding: 1%;
  }

  li {
    position: relative;
    list-style: none;
    display: block;
    border-bottom: 1px solid $bgcolor;
    padding: 10px;

    i{
      color: $linkcolor-hover;
    }

  }

  li a:hover {
    color: $linkcolor-hover;
  }

  li a {
    color: $fontcolor;
    text-decoration: none;
    display: block;
  }

  &__serch {
    width: 90%;
    padding: 5%;
    color: $sidecolor;
    font-weight: bold;
    background-color: #ffffff;
    height: 55px;
    margin-bottom: 10px;

    @media #{$small} {
      height: auto;

    }
  }

  i {
    position: absolute;
    right: 2%;
    font-size: 1.6em;
  }

  form, input {
    margin: 0; /* マージンをリセット */
  }
  form {
    position: relative; /* 基準位置とする */
  }
  input[type="search"] {
    font-style: oblique;
    background-color: #eeeeee;
    border: 0;
    height: 30px; /* 高さ40px */
    padding: 0 10px;
    position: absolute; /* 絶対配置 */
    left: 0;
    top: 0;
    font-size: small;
    letter-spacing: 0.05em;
    width: 98%;

    @media #{$small} { /*スマホ時は大きく*/
      width: 98%;
      margin: 1%;
      height: 35px;
    }

  }
  input[type="image"] {
    border: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    position: absolute; /* 絶対配置 */
    right: 4%;
    top: 7px;

    @media #{$small} { /*はスマホ時*/
      position: absolute; /* 絶対配置 */
      left: 90%;
      top: 16px;
    }
  }

  &__sp {

    @media #{$small} {
      width: 100%;
    }

    @media #{$large} {
      display: none;
    }

    .sidemenu__serch {
      width: 100%;
      height: 30px;

      @media #{$small} {
        width: 100%;
        padding: 10px 0 10px 0;
        min-height: 40px;
        margin: 0;
      }

    }

    .sidemenu__title {
      width: 100%;
      padding: 15px 1%;
    }

    .sidemenu__box {

      @media #{$small} {

        width: 100%;
        min-height: 250px;
      }

      img {
        float: left;
        clear: both;
        padding: 15px;
      }

      p {
        margin-top: 20px;
      }
    }

  }

  &__box {
    width: 98%;
    padding: 20px 1% 0 1%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    min-height: 280px;

    &__button {
      border-radius: 12px;
      background-color: $sidecolor;
      padding: 8px 50px;
      color: #ffffff;
      letter-spacing: 0.05em;
      font-weight: bold;
      text-decoration: none;
    }

    &__button:hover {
      background-color: $linkcolor-hover;
      color: #ffffff;
    }

  }
  //box
}

.pannel {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content: space-around;

  @media #{$small} { /*はスマホ時*/
    display: inline;
    text-align: center;
  }

}

.pannel__inner {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px;

  @media #{$small} { /*はスマホ時*/
    padding: 2%;
    width: 45%;
    margin: 0 0 5px 0;
    display: inline-block;
    text-align: left;

    img {
      display: block;
      margin: 0 auto;
    }

  }

  &-price {
    padding-top: 10px;
    display: block;
  }

  img {
    padding-bottom: 5px;
  }
  p {
    font-size: 0.9em;
  }

}

.guide {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start; /* Safari */
  align-content: flex-start;
  clear: both;

  @media #{$small} { /*はスマホ時*/
    display: inline;

  }

  &__inner {
    background-color: #ffffff;
    width: 47%;
    margin: 1%;
    padding: 20px 1%;

    @media #{$small} { /*はスマホ時*/
      width: 97%;
      padding: 20px 2%;
      margin: 10px 2px;
      display: inline-block;
    }
  }

  &__title {
    color: $sidecolor;
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;

  }
  &__subtitle {
    color: $sidecolor;
    padding-top: 1.2em;
    padding-bottom: 0.2em;
  }

}

.breadcrumb {
  background-color: #e8e4da;
  color: $linkcolor;
  font-size: small;

  .yaji {
    margin-right: 10px;
  }

  &__list {
    padding: 10px 0;

    a {
      text-decoration: none;
      color: $linkcolor;
    }

    a:hover {
      color: $linkcolor-hover;
    }

    ul {
    }
    li {
      list-style: none;
      display: inline;
      margin: 0 0 0 10px;
    }
    i {
      padding-right: 15px;
    }
  }
}

.products {
  background-color: #ffffff;
  padding: 20px 0 20px 0;

  img {
    margin: 2px;
  }

  .products__price-cart-sp {
    margin: 0 auto;
  }

  #display_img {
    float: left;
    width: 400px;
    padding-right: 8px;

    @media screen and (max-width: 1202px) {
      width: 100%;
      float: none;
      text-align: center;
    }

    @media #{$small} { /*はスマホ時*/
      width: 100%;
      float: none;
      clear: both;
    }
  }

  &__inner {
    margin: 20px;
    padding-top: 5px;

    &__border {
      border-top: solid 1px $linkcolor-hover;
      clear: both;
    }

  }

  &__title {
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__subtitle {
    font-weight: bold;
    color: $sidecolor;
    padding: 15px 0;
    font-size: large;
  }

  &__number {
    float: right;
    clear: both;
    color: $linkcolor-hover;
    font-weight: normal;
    font-size: small;

    @media #{$small} { /*はスマホ時*/
      float: inherit;
    }
  }

  &__box {

    ul {
      margin: 0;
      padding: 0;

      @media #{$small} { /*はスマホ時*/
        display: inline;
        padding: 0 2px;
      }

    }

    li {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0;

      @media #{$small} { /*はスマホ時*/
        display: inline;
      }

    }

    li img {
      width: 125px;
      cursor: pointer;
      @media #{$small} { /*はスマホ時*/
        width: 22%;
        float: none;
      }

    }
  }
  &__quantity {
    position: relative;

    form {
      display: inline;
    }

    input {
      position: absolute;
      right: 55%;
      top: 8px;

      @media #{$small} { /*はスマホ時*/
        margin-top: 10px;
        position: inherit;
        float: right;
        width: 50%;
      }

    }

    .products__subtitle {
      @media #{$small} { /*はスマホ時*/
        float: left;
        clear: both;
      }
    }

  }
  &__price {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: large;
    padding: 20px 0 15px 0;
    border-top: solid 1px $linkcolor-hover;
    border-bottom: solid 1px $linkcolor-hover;

    div {
      float: left;
      margin: 0;
      vertical-align: middle;

    }

    &__pricetitle {
      color: red;
      font-size: xx-large;
      padding: 0 0 0 60px;
      margin-bottom: 10px;

      @media #{$small} { /*はスマホ時*/
        padding: 0 20px;
        font-size: x-large;
      }
    }

    &__subtitle {
      font-weight: bold;
      color: #887f69;
      font-size: large;
      padding: 10px 0 0 0;

    }

    &-tax {
      padding: 15px 0 0 20px;

      @media #{$small} { /*はスマホ時*/
        padding: 10px 0 0 0;
        font-size: small;
      }

    }

    &-cart-pc {
      position: absolute;
      right: 0;
      top: 13px;

      @media #{$small} { /*はスマホ時*/
        display: none;
      }

    }

    &-cart-sp {
      padding-top: 20px;
      display: block;
      margin: 0 auto;
      @media #{$large} { /*はpc時*/
        display: none;
      }

    }

  }

  &__descript {
    margin-top: 20px;

    .products__subtitle:first-child {
      border-bottom: solid 1px $fontcolor;
    }

  }

  table {
    width: 100%;
    color: $sidecolor;
    form {
      margin: 0;
    }
  }
  td, th {
    text-align: center;
    border: 1px solid $linkcolor-hover;
    border-collapse: collapse;
    padding: 3px;
    width: 30%;
    height: 25px;
  }
  .table__bg {
    background: #f9f9f5;
  }

}

.list__button {
  background-color: $sidecolor;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-decoration: none;

  @media #{$small} { /*はpc時*/
    max-width: 48%;
  }

  a {
    padding: 8px 50px;
    display: block;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    background-color: $linkcolor-hover;
    color: #ffffff;
  }
  &-right {
    margin: 10px 0 10px 0;
    float: right;
  }
  &-left {
    margin: 10px 0 10px 0;
    float: left;
  }

}

div #main.columns {
  @media #{$small} {
    float: none;
  }
}

div #main.nine.columns {
  @media #{$small} {
    width: 100%;
  }
}

#main.theree.colums {
  @media #{$small} {
    width: 100%;
  }
}

/*product のbetweenなんとかつかう*/