@charset "UTF-8";
html {
  font-size: 62.5%; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

body {
  background-color: #f9f8f6; }

#owl-carousel {
  position: relative;
  z-index: 1; }

.sp_img {
  display: block;
  padding: 20px 0;
  margin: 0 auto; }
  @media only screen and (min-width: 960px) {
    .sp_img {
      display: none; } }

@media only screen and (max-width: 959px) {
  .pc_img {
    display: none; } }

.headerin {
  max-width: 940px;
  margin: 0 auto; }
  @media only screen and (max-width: 959px) {
    .headerin {
      text-align: center; } }
  @media only screen and (min-width: 960px) {
    .headerin__logo {
      padding: 40px 0; } }
  @media only screen and (max-width: 959px) {
    .headerin__logo {
      padding: 40px 0 20px 0; } }
  @media only screen and (max-width: 959px) {
    .headerin__menu--pc {
      display: none; } }
  @media only screen and (min-width: 960px) {
    .headerin__menu--sp {
      display: none; } }
  @media only screen and (max-width: 959px) {
    .headerin__sns--pc {
      /*sns--pcはスマホ時非表示*/
      display: none; } }
  .headerin__sns--pc li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline; }
  @media only screen and (min-width: 960px) {
    .headerin__sns--sp {
      /*sns--pcはスマホ時非表示*/
      display: none; } }
  .headerin__sns--sp li {
    list-style: none;
    display: inline; }
  .headerin__nav--sp {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%; }
    .headerin__nav--sp li {
      padding: 15px 0;
      list-style: none;
      border-bottom: solid 2px #f9f8f6;
      background-color: #ffffff;
      color: #000000;
      margin: 0;
      font-weight: bold; }
    .headerin__nav--sp li a {
      display: block;
      text-decoration: none;
      color: #000000; }
    .headerin__nav--sp li a:hover {
      color: #b9ab8d;
      background-color: #ffffff; }
    @media only screen and (min-width: 960px) {
      .headerin__nav--sp {
        /*pc時非表示*/
        display: none; } }
  @media only screen and (max-width: 959px) {
    .headerin__nav--pc {
      /*はスマホ時非表示*/
      display: none; } }
  .headerin__nav--pc ul {
    margin-top: 40px; }
  .headerin__nav--pc li {
    list-style: none; }
  .headerin__nav--pc a {
    color: #524c3e;
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    float: left;
    padding-right: 25px; }
  .headerin__nav--pc a:hover {
    color: #b9ab8d; }

footer img {
  float: right;
  clear: both;
  margin-bottom: 20px; }
  @media only screen and (max-width: 959px) {
    footer img {
      /*はスマホ時*/
      margin: 20px 0;
      padding-right: 42%; } }

.footerin {
  clear: both;
  max-width: 940px;
  background-color: #f9f8f6;
  margin: 0 auto;
  text-align: center;
  border-top: solid 1px #000000; }
  .footerin__menu ul {
    padding: 30px 0;
    margin: 0; }
  .footerin__menu li {
    display: inline-block;
    list-style: none;
    margin: 0 10px; }
  .footerin__menu a {
    color: #000000;
    font-size: small;
    text-decoration: none; }
  .footerin__copyright {
    font-size: small;
    color: #b8b4ac; }

.sidemenu {
  width: 100%;
  font-size: 0.9em; }
  @media only screen and (max-width: 959px) {
    .sidemenu__pc {
      display: none; } }
  .sidemenu__title {
    width: 90%;
    padding: 5%;
    background-color: #887f69;
    color: #ffffff;
    border-bottom: 1px solid #f9f8f6; }
    .sidemenu__title__title:first-child {
      margin-bottom: 20px; }
    @media only screen and (max-width: 959px) {
      .sidemenu__title__sp {
        display: none; } }
  .sidemenu ul {
    background-color: #ffffff;
    width: 98%;
    padding: 1%; }
  .sidemenu li {
    position: relative;
    list-style: none;
    display: block;
    border-bottom: 1px solid #f9f8f6;
    padding: 10px; }
    .sidemenu li i {
      color: #b9ab8d; }
  .sidemenu li a:hover {
    color: #b9ab8d; }
  .sidemenu li a {
    color: #000000;
    text-decoration: none;
    display: block; }
  .sidemenu__serch {
    width: 90%;
    padding: 5%;
    color: #887f69;
    font-weight: bold;
    background-color: #ffffff;
    height: 55px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 959px) {
      .sidemenu__serch {
        height: auto; } }
  .sidemenu i {
    position: absolute;
    right: 2%;
    font-size: 1.6em; }
  .sidemenu form, .sidemenu input {
    margin: 0;
    /* マージンをリセット */ }
  .sidemenu form {
    position: relative;
    /* 基準位置とする */ }
  .sidemenu input[type="search"] {
    font-style: oblique;
    background-color: #eeeeee;
    border: 0;
    height: 30px;
    /* 高さ40px */
    padding: 0 10px;
    position: absolute;
    /* 絶対配置 */
    left: 0;
    top: 0;
    font-size: small;
    letter-spacing: 0.05em;
    width: 98%; }
    @media only screen and (max-width: 959px) {
      .sidemenu input[type="search"] {
        /*スマホ時は大きく*/
        width: 98%;
        margin: 1%;
        height: 35px; } }
  .sidemenu input[type="image"] {
    border: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    position: absolute;
    /* 絶対配置 */
    right: 4%;
    top: 7px; }
    @media only screen and (max-width: 959px) {
      .sidemenu input[type="image"] {
        /*はスマホ時*/
        position: absolute;
        /* 絶対配置 */
        left: 90%;
        top: 16px; } }
  @media only screen and (max-width: 959px) {
    .sidemenu__sp {
      width: 100%; } }
  @media only screen and (min-width: 960px) {
    .sidemenu__sp {
      display: none; } }
  .sidemenu__sp .sidemenu__serch {
    width: 100%;
    height: 30px; }
    @media only screen and (max-width: 959px) {
      .sidemenu__sp .sidemenu__serch {
        width: 100%;
        padding: 0 0 10px 0;
        min-height: 40px;
        margin: 0; } }
  .sidemenu__sp .sidemenu__title {
    width: 100%;
    padding: 15px 1%; }
  @media only screen and (max-width: 959px) {
    .sidemenu__sp .sidemenu__box {
      width: 100%;
      min-height: 250px; } }
  .sidemenu__sp .sidemenu__box img {
    float: left;
    clear: both;
    padding: 15px; }
  .sidemenu__sp .sidemenu__box p {
    margin-top: 20px; }
  .sidemenu__box {
    width: 98%;
    padding: 20px 1% 0 1%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    min-height: 280px; }
    .sidemenu__box__button {
      border-radius: 12px;
      background-color: #887f69;
      padding: 8px 50px;
      color: #ffffff;
      letter-spacing: 0.05em;
      font-weight: bold;
      text-decoration: none; }
    .sidemenu__box__button:hover {
      background-color: #b9ab8d;
      color: #ffffff; }

.pannel {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  /* Safari */
  justify-content: space-around; }
  @media only screen and (max-width: 959px) {
    .pannel {
      /*はスマホ時*/
      display: inline;
      text-align: center; } }

.pannel__inner {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px; }
  @media only screen and (max-width: 959px) {
    .pannel__inner {
      /*はスマホ時*/
      padding: 2%;
      width: 45%;
      margin: 0 0 5px 0;
      display: inline-block;
      text-align: left; }
      .pannel__inner img {
        display: block;
        margin: 0 auto; } }
  .pannel__inner-price {
    padding-top: 10px;
    display: block; }
  .pannel__inner img {
    padding-bottom: 5px; }
  .pannel__inner p {
    font-size: 0.9em; }

.guide {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start;
  /* Safari */
  align-content: flex-start;
  clear: both; }
  @media only screen and (max-width: 959px) {
    .guide {
      /*はスマホ時*/
      display: inline; } }
  .guide__inner {
    background-color: #ffffff;
    width: 47%;
    margin: 1%;
    padding: 20px 1%; }
    @media only screen and (max-width: 959px) {
      .guide__inner {
        /*はスマホ時*/
        width: 97%;
        padding: 20px 2%;
        margin: 10px 2px;
        display: inline-block; } }
  .guide__title {
    color: #887f69;
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0; }
  .guide__subtitle {
    color: #887f69;
    padding-top: 1.2em;
    padding-bottom: 0.2em; }

.breadcrumb {
  background-color: #e8e4da;
  color: #524c3e;
  font-size: small; }
  .breadcrumb .yaji {
    margin-right: 10px; }
  .breadcrumb__list {
    padding: 10px 0; }
    .breadcrumb__list a {
      text-decoration: none;
      color: #524c3e; }
    .breadcrumb__list a:hover {
      color: #b9ab8d; }
    .breadcrumb__list li {
      list-style: none;
      display: inline;
      margin: 0 0 0 10px; }
    .breadcrumb__list i {
      padding-right: 15px; }

.products {
  background-color: #ffffff;
  padding: 20px 0 20px 0; }
  .products img {
    margin: 2px; }
  .products .products__price-cart-sp {
    margin: 0 auto; }
  .products #display_img {
    float: left;
    width: 400px;
    padding-right: 8px; }
    @media screen and (max-width: 1202px) {
      .products #display_img {
        width: 100%;
        float: none;
        text-align: center; } }
    @media only screen and (max-width: 959px) {
      .products #display_img {
        /*はスマホ時*/
        width: 100%;
        float: none;
        clear: both; } }
  .products__inner {
    margin: 20px;
    padding-top: 5px; }
    .products__inner__border {
      border-top: solid 1px #b9ab8d;
      clear: both; }
  .products__title {
    font-weight: bold;
    padding-bottom: 20px; }
  .products__subtitle {
    font-weight: bold;
    color: #887f69;
    padding: 15px 0;
    font-size: large; }
  .products__number {
    float: right;
    clear: both;
    color: #b9ab8d;
    font-weight: normal;
    font-size: small; }
    @media only screen and (max-width: 959px) {
      .products__number {
        /*はスマホ時*/
        float: inherit; } }
  .products__box ul {
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 959px) {
      .products__box ul {
        /*はスマホ時*/
        display: inline;
        padding: 0 2px; } }
  .products__box li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 959px) {
      .products__box li {
        /*はスマホ時*/
        display: inline; } }
  .products__box li img {
    width: 125px;
    cursor: pointer; }
    @media only screen and (max-width: 959px) {
      .products__box li img {
        /*はスマホ時*/
        width: 22%;
        float: none; } }
  .products__quantity {
    position: relative; }
    .products__quantity form {
      display: inline; }
    .products__quantity input {
      position: absolute;
      right: 55%;
      top: 8px; }
      @media only screen and (max-width: 959px) {
        .products__quantity input {
          /*はスマホ時*/
          margin-top: 10px;
          position: inherit;
          float: right;
          width: 50%; } }
    @media only screen and (max-width: 959px) {
      .products__quantity .products__subtitle {
        /*はスマホ時*/
        float: left;
        clear: both; } }
  .products__price {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: large;
    padding: 20px 0 15px 0;
    border-top: solid 1px #b9ab8d;
    border-bottom: solid 1px #b9ab8d; }
    .products__price div {
      float: left;
      margin: 0;
      vertical-align: middle; }
    .products__price__pricetitle {
      color: red;
      font-size: xx-large;
      padding: 0 0 0 60px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 959px) {
        .products__price__pricetitle {
          /*はスマホ時*/
          padding: 0 20px;
          font-size: x-large; } }
    .products__price__subtitle {
      font-weight: bold;
      color: #887f69;
      font-size: large;
      padding: 10px 0 0 0; }
    .products__price-tax {
      padding: 15px 0 0 20px; }
      @media only screen and (max-width: 959px) {
        .products__price-tax {
          /*はスマホ時*/
          padding: 10px 0 0 0;
          font-size: small; } }
    .products__price-cart-pc {
      position: absolute;
      right: 0;
      top: 13px; }
      @media only screen and (max-width: 959px) {
        .products__price-cart-pc {
          /*はスマホ時*/
          display: none; } }
    .products__price-cart-sp {
      padding-top: 20px;
      display: block;
      margin: 0 auto; }
      @media only screen and (min-width: 960px) {
        .products__price-cart-sp {
          /*はpc時*/
          display: none; } }
  .products__descript {
    margin-top: 20px; }
    .products__descript .products__subtitle:first-child {
      border-bottom: solid 1px #000000; }
  .products table {
    width: 100%;
    color: #887f69; }
    .products table form {
      margin: 0; }
  .products td, .products th {
    text-align: center;
    border: 1px solid #b9ab8d;
    border-collapse: collapse;
    padding: 3px;
    width: 30%;
    height: 25px; }
  .products .table__bg {
    background: #f9f9f5; }

.list__button {
  background-color: #887f69;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-decoration: none; }
  @media only screen and (max-width: 959px) {
    .list__button {
      /*はpc時*/
      max-width: 48%; } }
  .list__button a {
    padding: 8px 50px;
    display: block;
    color: #ffffff;
    text-decoration: none; }
  .list__button a:hover {
    background-color: #b9ab8d;
    color: #ffffff; }
  .list__button-right {
    margin: 10px 0 10px 0;
    float: right; }
  .list__button-left {
    margin: 10px 0 10px 0;
    float: left; }

@media only screen and (max-width: 959px) {
  div #main.columns {
    float: none; } }

@media only screen and (max-width: 959px) {
  div #main.nine.columns {
    width: 100%; } }

@media only screen and (max-width: 959px) {
  #main.theree.colums {
    width: 100%; } }

/*product のbetweenなんとかつかう*/

/*# sourceMappingURL=style.css.map */
